section > * + * {
  margin-top: 1rem;
}

.container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 1rem;
}

h1 {
  margin: 0 0 1.5rem 0;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feed-actions {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.feed-search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.feed-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.profile__top {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
