section {
  max-width: 700px;
  margin: 2rem auto;
  padding: 1rem;
  /* display: flex;
  flex-direction: column; */
}

h1 {
  margin-bottom: 0 0 1.5rem 0;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: #687a6f;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feed-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
